@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato, sans-serif;
    color: #3a3a3a;
}

/* headings and logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#hero-image {
    height: 900px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;
    background-size: cover;

    animation: hero-zoom 5s forwards;
}

#hero-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
}

/* creates level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}